.cell{
    background-color: #0f0f0f;
    display: inline-block;
    width: 10%;
    min-height: 55px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-radius: 20%;
    margin: 3px;
    border-color: #383838;
    color: #83c8e4;
}

.highlightedCell{
    background-color: #3a3b3c;
    display: inline-block;
    width: 10%;
    min-height: 55px;
    text-align: center;
    padding-top: 32px;
    font-size: larger;
    font-weight: bold;
    border-style: solid;
    border-radius: 20%;
    margin: 3px;
    border-color: #0f0f0f;
    color: #00FF84;
}